<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성하는 페이지</title>
    <style>
        #write {display:flex; flex-direction:column; width:500px; margin:0 auto;}
        #title {margin:50px 0;}
        #context {resize:none; height:400px; margin-bottom:50px;}
        
    </style>
</head>
<body>
    <form id="write" action="/postadd" method="post">
        <input type="text" name="title" id="title" placeholder="제목을 입력하세요">
        <textarea name="context" id="context" placeholder="내용을 입력하세요"></textarea>
        <button type="submit">게시글 작성</button>
    </form>
</body>
</html>